canvas {
  position: absolute;
  top: 0;
  left: 0;
}

body {
  overflow: hidden;
}

p, h1 {
  margin: 0 0;
}

div.popup {
  position: absolute;
  width: 500px;
  height: 500px;
  display: none;
  transform: scale( 0, 0 );
  -webkit-transform: scale( 0, 0 ); 

  font-family: Verdana;
}
div.popup.active {
  display: inline-block;
  transition: transform 1s, top 1s, left 1s, opacity .2s;
  -webkit-transition: -webkit-transform 1s, top 1s, left 1s, opacity .2s;
  transform: scale( 1, 1 );
  -webkit-transform: scale( 1, 1 );
}
div.popup.disappear {
  opacity: 0;
}
div.popup > .section {
  background-color: #eee;
  width: 460px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 6px #888;

  font-size: 20px;
}
div.popup > .section > p {
  margin: 0 0;
}
div.popup > .main {
  width: 460px;
  margin-top: 20px;
  height: 390px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 4px #888;
  background-color: #eee;
}
div.popup > .main > .question {
  border-bottom: 1px solid #888;
  width: 460px;
  padding-bottom: 10px;
  min-height: 50px;
}
div.popup > .main > .question > h1 {
  float: left;
  margin-right: 10px;
}
div.popup > .main > .answers {
  padding-top: 10px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
}
div.popup > .main > .answers > .options {
  width: 280px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px;
}
div.popup > .main > .answers > .options > p {
  width: 100%;
  padding: 8px 8px 8px 4px;
  transition: background-color .2s;
  background-color: #fff;
}
div.popup > .main > .answers > .options > p:nth-child( 2n - 1 ) {
  background-color: #ddd;
}
div.popup > .main > .answers > .options > p.marked {
  background-color: #9e9;
}
div.popup > .main > .answers > .options > p.marked:nth-child( 2n - 1 ) {
  background-color: #7c7;
}
div.popup > .main > .answers > .options > p > button {
  background-color: #eee;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border: none;
  border-radius: 0;
  transition: background-color .2s;
}
div.popup > .main > .answers > .options > p > button:hover {
  cursor: pointer;
  background-color: #bbb;
}
div.popup > .main > .answers > .image > img {
  width: 180px;
}
div.popup > button {
  width: 100%;
  transition: background-color .2s;
  -webkit-transition: background-color .2s;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  font: 20px Verdana;
}
div.popup > button:hover {
  cursor: pointer;
  background-color: #cfc;
}
